{% block content %}
<div class="container-fluid bg-light text-dark-50 border-top py-1" style="border-color: rgba(256, 256, 256, .1) !important;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-left mb-3 mb-md-0">
                <div style="float:left;">
                <a class="text-dark" href="https://www.bizinfo.go.kr/"><img src="https://www.bizinfo.go.kr/images/bizinfo/common/logo.png" alt="기업마당"></a></div>
                <div style="float:left;">
                <a class="text-dark" href="https://www.nipa.kr/"><img src="https://www.nipa.kr/main/images/common/footer_logo.png" alt="정보통신산업진흥원"></a></div>
            </div>
            <div class="col-md-6 text-center text-md-right" style="font-size: small;">
                <p class="m-0">Designed by <a class="text-dark" href="https://htmlcodex.com">HTML Codex</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}