{% block content %}
<br>
<div class="container-fluid py-2 text-center">
    <form action = "/search"><input type="text" id="keyword" name="keyword" value="_4차산업" hidden><button class="btn btn-sm btn-banana mx-1" type="submit" action="/search">#4차산업</button></form>
    <form action = "/search"><input type="text" id="keyword" name="keyword" value="_친환경" hidden><button class="btn btn-sm btn-banana mx-1" type="submit" action="/search">#친환경</button></form>
    <form action = "/search"><input type="text" id="keyword" name="keyword" value="_bio_health" hidden><button class="btn btn-sm btn-banana mx-1" type="submit" action="/search">#bio&health</button></form>
    <form action = "/search"><input type="text" id="keyword" name="keyword" value="_기술_컨설팅" hidden><button class="btn btn-sm btn-banana mx-1" type="submit" action="/search">#기술&컨설팅</button></form>
    <form action = "/search"><input type="text" id="keyword" name="keyword" value="_융자_자금지원" hidden><button class="btn btn-sm btn-banana mx-1" type="submit" action="/search">#융자&자금지원</button></form>
    <form action = "/search"><input type="text" id="keyword" name="keyword" value="_창업_일자리" hidden><button class="btn btn-sm btn-banana mx-1" type="submit" action="/search">#창업&일자리</button></form>
    <form action = "/search"><input type="text" id="keyword" name="keyword" value="_해외수출_박람회" hidden><button class="btn btn-sm btn-banana mx-1" type="submit" action="/search">#해외수출&박람회</button></form>
    <form action = "/search"><input type="text" id="keyword" name="keyword" value="중소기업" hidden><button class="btn btn-sm btn-banana mx-1" type="submit" action="/search">#중소기업</button></form>
</div>
{% endblock %}
