{% block content %}
<br>
<div class="container-fluid py-2 text-center">
    <form action = "/search"><input type="text" id="keyword" name="keyword" value="_4차산업" hidden><button class="btn btn-sm btn-banana mx-1" type="submit" action="/search">#4차산업</button></form>
    <form action = "/search"><input type="text" id="keyword" name="keyword" value="_친환경" hidden><button class="btn btn-sm btn-banana mx-1" type="submit" action="/search">#친환경</button></form>
    <form action = "/search"><input type="text" id="keyword" name="keyword" value="_bio_health" hidden><button class="btn btn-sm btn-banana mx-1" type="submit" action="/search">#bio&health</button></form>
    <form action = "/search"><input type="text" id="keyword" name="keyword" value="_중소기업" hidden><button class="btn btn-sm btn-banana mx-1" type="submit" action="/search">#중소기업</button></form>
    <form action = "/search"><input type="text" id="keyword" name="keyword" value="_연구개발" hidden><button class="btn btn-sm btn-banana mx-1" type="submit" action="/search">#연구개발</button></form>
    <form action = "/search"><input type="text" id="keyword" name="keyword" value="_사회적기업" hidden><button class="btn btn-sm btn-banana mx-1" type="submit" action="/search">#사회적기업</button></form>
    <form action = "/search"><input type="text" id="keyword" name="keyword" value="_자금지원" hidden><button class="btn btn-sm btn-banana mx-1" type="submit" action="/search">#자금지원</button></form>
    <form action = "/search"><input type="text" id="keyword" name="keyword" value="_박람회" hidden><button class="btn btn-sm btn-banana mx-1" type="submit" action="/search">#박람회</button></form>
    <form action = "/search"><input type="text" id="keyword" name="keyword" value="_해외수출" hidden><button class="btn btn-sm btn-banana mx-1" type="submit" action="/search">#해외수출</button></form>
    <form action = "/search"><input type="text" id="keyword" name="keyword" value="_창업" hidden><button class="btn btn-sm btn-banana mx-1" type="submit" action="/search">#창업</button></form>
    <form action = "/search"><input type="text" id="keyword" name="keyword" value="_일자리" hidden><button class="btn btn-sm btn-banana mx-1" type="submit" action="/search">#일자리</button></form>
    <form action = "/search"><input type="text" id="keyword" name="keyword" value="_소상공인" hidden><button class="btn btn-sm btn-banana mx-1" type="submit" action="/search">#소상공인</button></form>

</div>
{% endblock %}
